<div class="clearfix landing-page" id="landing-page">
  <h1>#THIS IS THE MAIN LANDING PAGE</h1>

  <p>
    <a href="/cp" class="btn btn-lg btn-default">
      <i class="fa fa-dashboard"></i>
      Go to your Dashboard!
    </a>
  </p>
</div>
