<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>{{title}}</title>
    {{#if_eq env 'production'}}
      <link rel='stylesheet' href='/main.css' />
    {{/if_eq}}
  </head>
  <body>

  <div class="container container--site" id="site-container">
    {{{body}}}
  </div>

  {{!-- Include scripts --}}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDWX70SmFG_dc15_K-MbMRAAlurTOjEt3w&libraries=places"></script>
  <script src="/main.js" type="text/javascript"></script>
  </body>
</html>
