<h1>Setup your trip</h1>
<div id="directions"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDWX70SmFG_dc15_K-MbMRAAlurTOjEt3w&libraries=places"></script>